body{
	background-image: url(https://media.istockphoto.com/id/1411016542/es/foto/f%C3%BAtbol-femenino-jugadora-de-f%C3%BAtbol-regateando-pelota-en-movimiento-en-el-estadio-durante-el.jpg?b=1&s=170667a&w=0&k=20&c=tyqnioXtndHriVhppSCYihD3IS8WzAGbLUbHV7Rf2H4=);
	text-align: center;
}

.text-muted{
	color: rgb(255, 255, 255);
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}